@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mix/OpensansRegular.woff") format("woff");
}
@font-face {
  font-family: "Opensans-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mix/OpensansSemiBold.woff") format("woff");
}
@font-face {
  font-family: "Opensans-Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mix/OpensansLight.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mix/MontserratSemiBold.woff") format("woff");
}
