@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Google Sans";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-Italic.woff") format("woff");
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Google Sans";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Google Sans";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/fontconverter/AnyConv.com__GoogleSans-BoldItalic.woff") format("woff");
}
